* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #222;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
}
